.tienda {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-height: 1148px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-3xs-2);
  color: var(--color-goldenrod);
  font-family: var(--font-gothic-a1);
}