.screenshot20240303At304 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.backgroundImage {
  height: 57px;
  width: 145px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.image39Icon {
  height: 49px;
  width: 49px;
  position: relative;
  object-fit: contain;
}
.image38 {
  align-self: stretch;
  height: 48px;
  position: relative;
  background-image: url(/public/image-38@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.image38Wrapper,
.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.image38Wrapper {
  width: 51px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.navbar {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-5xl) var(--padding-smi);
  gap: var(--gap-10xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslateblue-300);
  font-family: var(--font-outfit);
}